@media only screen and (min-width: 551px) {
    * {
        margin: 5px auto 0 auto;
        width: 95%;
        font-family: serif;
    }

    .aal {
        display: flex;
        text-align: left;
    }

    .hdr {
        width: 70%;
    }

    .top {
        display: flex;
        text-align: left;
    }


    .team {
        text-align: left;
        width: 45%;
    }

    .rele {
        text-align: left;
        width: 55%;
    }

    .team p span.hmj {
        font-size: 1.6rem;
    }

    .team p span.ongr {
        font-size: 2.1rem;
    }

    .rele p span.title {
        font-size: 1.6rem;
    }

    .rele p span.project {
        font-size: 2.1rem;
    }


    nav {
        text-align: center;
        border: 1px solid #000;
        border-style: solid none none none;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        width: 18%;
        min-width: 90px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
    }

    nav ul li.current a {
        color: #F33135;
    }

    nav ul li a:hover {
        color: #E7DA66;
    }


    .summary p.dk {
        border: 1px solid #000;
        font-size: 1.4rem;
    }

    .sum2mary p.d2k {
        border: 1px solid #000;
        font-size: 1.4rem;
    }

    .mg {
        width: 30%;
    }

    .hai {
        display: flex;
        text-align: left;
        padding: 0.5% 0% 0% 0%;
        background-color: whitesmoke;
    }

    .summary {
        width: 65%;
    }

    .gazou {
        width: 35%;
    }

    .prog {
        display: flex;
        text-align: left;
        background-color: whitesmoke;
    }
    .sum6mary p.dk {
        text-align: left;
        border: 1px solid #000;
        font-size: 1.4rem;
    }
    .ga6zou {
        width: 80%;
    }

    .solution {
        background-color: whitesmoke;
        display: flex;
        text-align: left;
    }

    .hon2bun {
        font-size: 1.3rem;
        text-align: center;
    }

    .de2me {
        display: flex;
        text-align: left;
    }

    .deme p.honbun,
    .merit p.honbun {
        font-size: 1.25rem;
    }

    .merit,
    .deme {
        border: 0.8px solid #000;
        border-radius: 20px 20px 20px 20px;
    }

    .ga2zou {
        width: 37%;
    }

    .app p.dk {
        border: 1px solid #000;
        font-size: 1.4rem;
    }

    .gau {
        display: flex;
        text-align: left;
    }

    .ga3zou {
        width: 48%;
        border: 0.8px solid #000;
    }

    .url {
        font-size: 0.8rem;
    }

    .hon3bun {
        font-size: 1.15rem;
    }


    .sum5mary p.dk {
        text-align: center;
        border: 1px solid #000;
        font-size: 1.4rem;
    }

    .card{
        height: 220px;
        width: 90%;
        background-color: whitesmoke;
        border: 1px solid black;
        border-radius: 25px 25px 25px 25px;
    }
    .card img {
        margin:  2% auto;
        display: block;
        height: 80%;
        width: 90%;
    }
    .card p ,.ca2rd p{
        text-align: center;
        margin: 0 auto 2% auto;
    }
    .ca2rd {
        width: 90%;
        background-color: whitesmoke;
        border: 1px solid black;
        border-radius: 25px 25px 25px 25px;
    }
    .ca2rd img {
        margin:  2% auto;
        display: block;
        width: 88%;
    }

    footer {
        margin: 5% calc(50% - 50vw) 0;
        width: 98.2vw;
        text-align: center;
        background-color: #111;
        color: #FFFFFF;
        padding: 1%;
    }
}